*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.3rem;
}

a,
li {
  font-size: 1.3rem;
  text-decoration: none;
}

p {
  font-size: 1.4rem;
}

i {
  font-size: 2rem;
}

/** main **/
.site-main {
  max-width: 65vw;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
  padding-left: 5%;
  padding-right:  5%;
  padding-bottom: 5%;
  border-radius: 14px;
  margin-top: 180px;

  @media (max-width: 1200px) {
    margin-top: 150px;
  }

  @media (max-width: 768px) {
    margin-top: 60px;
    padding: 0;
    background-color: $white;
  }
}

.container {
  min-height: 100vh;
}

.news {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 0 0 2em 0;
  min-width: 220px;

  .articulo-noticia {
    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      transition: all 0.4s ease-out;
      z-index: 2;
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

.league {
  display: flex;
  margin-bottom: 1em;

  p {
    font-size: 2.2rem;
    color: $black;
    width: auto;
  }
  img {
    padding-right: 15px;
    padding-left: 15px;
    height: 40px;
    width: auto;
    
    &:nth-child(1):hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      transition: all 0.4s ease-out;
      z-index: 2; 
    }

    &:nth-child(2) {
      animation-name: rotation;
      animation-duration: 2s;
      animation-timing-function: linear;
      transition: all 0.4s ease-out;
      z-index: 2; 
    }

    @media screen and (max-width: 750px) {
      display: none;
    }
  }
}

.liga-1 {
  background-color: $secondary;
  padding: 0.3em 0.6em;
  border-radius: 33px;
  margin: 1em 0;
}

.liga-2 {
  background-color: $success;
  padding: 0.3em 0.6em;
  border-radius: 33px;
  margin: 1em 0;
}

/* we will explain what these classes do next! */
.v-enter-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* buttons */

@mixin button($bgColor, $color, $bgColorHover, $colorHover) {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: $color;
  background-color: $bgColor;
  transition: all 0.3s ease;
  &:hover {
    color: $colorHover;
    background-color: $bgColorHover;
  }
}

.btn-primary {
  @include button($primary, $black, $primary-hover, $white);
}

.btn-secondary {
  @include button($black, $white, $primary, $white);
}

/* background && color */

.text-primary {
  color: $primary;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}


/* effects */

.rotated{
	animation-name: rotation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}